@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
#section-1{
    border-radius: 16px;

    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%) ,url("images/Banner\ Image.png");
    width: 1320px;
    height: 600px;
    background-size: cover;
    margin: 0 auto;
    border: 16px;
}
#section-1 .newyear{
    font-family: 'Merriweather', serif;
    color:rgb(255, 255, 255) ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 177px 344px 177px 344px;
}
#section-1 .newyear p{
   font-size: 32px;
   font-weight: 400px; 
   text-align: center;
   margin-bottom: 16px;
}
#section-1 .newyear h1{
    font-size: 72px;
    font-weight: 900px; 
    text-align: center;
 }
