@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* font-family: "Inter", serif; */
/* font-family: 'Merriweather', serif; */
* {
    margin: 0;
    padding: 0;
}

#section-1 {
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("images/Banner\ Image.png");
    width: 1320px;
    height: 600px;
    background-size: cover;
    margin: 0 auto;
    border: 16px;
}

#section-1 .newyear {
    font-family: 'Merriweather', serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 177px 344px 177px 344px;
}

#section-1 .newyear p {
    font-size: 32px;
    font-weight: 400px;
    text-align: center;
    margin-bottom: 16px;
}

#section-1 .newyear h1 {
    font-size: 72px;
    font-weight: 900px;
    text-align: center;
}

#section-2 h1 {
    color: rgb(255, 0, 0);
    font-family: "Inter";
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 48px;
}

#section-2 p {
    color: rgb(255, 0, 0);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

#section-2 h3 {
    color: rgb(7, 2, 17);
    font-family: "Inter";
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

#section-2 .happy-new-year {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

#section-2 .happy-new-year img {
    width: 802.9px;
    height: 500px;
    margin-bottom: 120px;
}

#section-3 {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("images/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 1320px;
    height: 600px;
    margin: auto;
}

.welcome-party {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 69.01px 138px 67.23px 126px;
}

.welcome-party .welcome-party-text h1 {
    color: rgb(255, 255, 255);
    font-family: 'Merriweather';
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
}

.welcome-party .welcome-party-text p {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.welcome-party .welcome-party-text a {
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    hover: rgb(207, 196, 198);
}

.button-1 {
    margin-top: 48px;
    margin-left: 32px;
}

#section-4 {
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    width: 1320px;
    height: 482px;
    margin: 120px auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.party-details {
    padding: 100px 385px 45px 385px;
}

.party-details p {
    font-family: "Inter";
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.button-2 {
    border-radius: 8px;
    background: rgb(255, 0, 0);
    position: relative;
    width: 167px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 32px 16px 32px;
 

}
.button-2 button{
font-family: "Inter";
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color:rgb(255, 255, 255) ;
background-color:rgb(255, 0, 0);
box-shadow: none;
border: none;
border-radius: 5px;
cursor: pointer;
hover: darkred;
}